/* App Styles */

.add-webmap {
	position: absolute;
	z-index: 999;
	top: 200px;
	right: 20px;
}

.input-append {
	position: absolute;
	z-index: 999;
	top: 20px;
	right: 20px;	
}

.btn {
	margin-bottom: 10px;
}

.modal {    
    width: 80%;
    margin-left: -40%;
    left: 50%;
}

.results-form td {
	vertical-align: middle;
	text-align: center;
}

.hide {
	display:none;
}